@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/Coolvetica-Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
  --background: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Coolvetica", Arial, sans-serif;
}

/* Style global pour tous les titres h1, h2, h3, h4, h5, h6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Luckiest Guy", cursive;
}

@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
